{% extends "../Home.html" %}

{% load static %}
<!--<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">-->
{% block contenido %}

   {% for estudiante in estudiantes %}
    <li>
        {{estudiante}}</li>
        <a href= "/AppClases/update_estudiantes/{{estudiante.email}}" class="btn btn-warning">edit</a>
        <a href= "/AppClases/delete_estudiantes/{{estudiante.email}}" class="btn btn-danger">delete</a>> 
    </li>
    <br>


   {% endfor %}
   <a class="btn btn-success" href="/AppClases/create_estudiantes/">Agregar</a>
{% endblock %}   