{% extends "inicio.html" %}

{% load static %}
<link rel="stylesheet" href="{%static 'css/miestilo.css'%}">
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block contenido %}
<p> CHANDRAYOGA </p>
<p> Nuestros Estilos </p>
<div >
    <form class="ContenidoEstilos">
        <div class="card" style="width: 18rem;">
            <img src="/media/varias/individual1.jpg" class="card-img-top" alt="individual2">
            <div class="card-body">
              <h5 class="card-title">Ashtanga</h5>
              <p class="card-text">forma de yoga dinámico que considera un cuerpo flexible y saludable como la base para desarrollar la parte espiritual; los beneficios se obtienen con ejercicios dinámicos (asanas), técnicas de respiración (pranayama) y meditación.</p>
              <a href="/AppClases/Estudiantes/" class="btn btn-primary">Inscribirse</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/media/varias/individual2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vinyansa</h5>
              <p class="card-text">Las clases de vinyasa suelen empezar con posturas sentado, después se pasa a posturas de pie (al contrario que en ashtanga), equilibrios e invertidas. Es decir, posturas básicas del hatha yoga con transiciones dinámicas, coordinando el movimiento con la respiración para crear una secuencia fluida.</p>
              <a href="/AppClases/Estudiantes/" class="btn btn-primary">Inscribirse</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/media/varias/individual3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Flow</h5>
              <p class="card-text">Es un yoga más físico y de esfuerzo, con movimientos aeróbicos mezclados con las asanas o posturas típicas de yoga y, por supuesto, sin olvidar la importancia de la respiración. Por tanto, el yoga Flow consigue: Equilibrar cuerpo y mente.</p>
              <a href="/AppClases/Estudiantes" class="btn btn-primary">Inscribirse</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/media/varias/individual4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hatha</h5>
              <p class="card-text">En el Hatha Yoga, los movimientos son armoniosos, lentos, suaves, plásticos y relajados. Su práctica se lleva a cabo siendo siempre consciente, por lo que debemos tener en cuenta también la importante y activa participación de nuestra mente para poder así equilibrar nuestro estado físico, psíquico y espiritual</p>
              <a href="/AppClases/Estudiantes" class="btn btn-primary">Inscribirse</a>
            </div>
          </div>
     </form>
</div>

{% endblock %}